[Unit]
Description=Sync a remote called drive every 5 minutes using rclone

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
