[init]
	defaultBranch = main
[user]
	name = Anthony Rodriguez
	email = anthony@nezia.dev
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAEPEdx0FDYntSZlbiVBb7mbp4EUnlzUTawlGYRy+9I3 id_ed25519
[commit]
	gpgsign = true
[gpg]
	format = ssh
