[submodule "dot_config/nvim/pack/plugins/start/catppuccin"]
	path = dot_config/nvim/pack/plugins/start/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "dot_config/nvim/pack/plugins/start/telescope"]
	path = dot_config/nvim/pack/plugins/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = 0.1.x
[submodule "dot_config/nvim/pack/plugins/start/plenary"]
	path = dot_config/nvim/pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "dot_config/nvim/pack/plugins/start/coq_nvim"]
	path = dot_config/nvim/pack/plugins/start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim
[submodule "dot_config/nvim/pack/plugins/start/lsp_signature"]
	path = dot_config/nvim/pack/plugins/start/lsp_signature
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "dot_config/nvim/pack/plugins/start/auto-pairs"]
	path = dot_config/nvim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dot_config/nvim/pack/plugins/start/chadtree"]
	path = dot_config/nvim/pack/plugins/start/chadtree
	url = https://github.com/ms-jpq/chadtree
