{{- if and (eq .chezmoi.os "linux") (not .is_wsl) -}}
#!/bin/sh

dconf load /org/gnome/ <<EOF

[desktop/input-sources]
current=uint32 0
mru-sources=[('xkb', 'us'), ('xkb', 'ch+fr')]
sources=[('xkb', 'us'), ('xkb', 'ch+fr')]
xkb-options=['compose:ralt']

[desktop/interface]
color-scheme='prefer-dark'
enable-hot-corners=false
font-antialiasing='rgba'
font-hinting='full'
gtk-enable-primary-paste=false
gtk-theme='Catppuccin-Frappe-Standard-Lavender-Dark'
monospace-font-name='Operator Mono Semi-Light Italic 12'
toolkit-accessibility=false

[desktop/peripherals/keyboard]
numlock-state=true

[desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'

[mutter]
edge-tiling=true

[shell/extensions/user-theme]
name='Catppuccin-Frappe-Standard-Lavender-Dark'

[shell/keybindings]
show-screenshot-ui=['<Shift><Super>s']

[shell/weather]
automatic-location=true

[system/location]
enabled=true

[software]
check-timestamp=int64 1710931379
first-run=false
flatpak-purge-timestamp=int64 1710948973
install-timestamp=int64 1710676988
packagekit-historical-updates-timestamp=uint64 1710676988
update-notification-timestamp=int64 1710677060

[terminal/legacy/profiles:]
default='71a9971e-e829-43a9-9b2f-4565c855d664'
list=['de8a9081-8352-4ce4-9519-5de655ad9361', '71a9971e-e829-43a9-9b2f-4565c855d664', '5083e06b-024e-46be-9cd2-892b814f1fc8', '95894cfd-82f7-430d-af6e-84d168bc34f5']

[terminal/legacy/profiles:/:5083e06b-024e-46be-9cd2-892b814f1fc8]
background-color='#24273a'
cursor-background-color='#f4dbd6'
cursor-colors-set=true
cursor-foreground-color='#24273a'
foreground-color='#cad3f5'
highlight-background-color='#24273a'
highlight-colors-set=true
highlight-foreground-color='#5b6078'
palette=['#494d64', '#ed8796', '#a6da95', '#eed49f', '#8aadf4', '#f5bde6', '#8bd5ca', '#b8c0e0', '#5b6078', '#ed8796', '#a6da95', '#eed49f', '#8aadf4', '#f5bde6', '#8bd5ca', '#a5adcb']
use-theme-colors=false
visible-name='Catppuccin Macchiato'

[terminal/legacy/profiles:/:71a9971e-e829-43a9-9b2f-4565c855d664]
background-color='#303446'
cursor-background-color='#f2d5cf'
cursor-colors-set=true
cursor-foreground-color='#303446'
font='Monospace 12'
foreground-color='#c6d0f5'
highlight-background-color='#303446'
highlight-colors-set=true
highlight-foreground-color='#626880'
palette=['#51576d', '#e78284', '#a6d189', '#e5c890', '#8caaee', '#f4b8e4', '#81c8be', '#b5bfe2', '#626880', '#e78284', '#a6d189', '#e5c890', '#8caaee', '#f4b8e4', '#81c8be', '#a5adce']
use-system-font=false
use-theme-colors=false
visible-name='Catppuccin Frappe'

[terminal/legacy/profiles:/:95894cfd-82f7-430d-af6e-84d168bc34f5]
background-color='#1e1e2e'
cursor-background-color='#f5e0dc'
cursor-colors-set=true
cursor-foreground-color='#1e1e2e'
foreground-color='#cdd6f4'
highlight-background-color='#1e1e2e'
highlight-colors-set=true
highlight-foreground-color='#585b70'
palette=['#45475a', '#f38ba8', '#a6e3a1', '#f9e2af', '#89b4fa', '#f5c2e7', '#94e2d5', '#bac2de', '#585b70', '#f38ba8', '#a6e3a1', '#f9e2af', '#89b4fa', '#f5c2e7', '#94e2d5', '#a6adc8']
use-theme-colors=false
visible-name='Catppuccin Mocha'

[terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
use-theme-colors=true

[terminal/legacy/profiles:/:de8a9081-8352-4ce4-9519-5de655ad9361]
background-color='#eff1f5'
cursor-background-color='#dc8a78'
cursor-colors-set=true
cursor-foreground-color='#eff1f5'
foreground-color='#4c4f69'
highlight-background-color='#eff1f5'
highlight-colors-set=true
highlight-foreground-color='#acb0be'
palette=['#5c5f77', '#d20f39', '#40a02b', '#df8e1d', '#1e66f5', '#ea76cb', '#179299', '#acb0be', '#6c6f85', '#d20f39', '#40a02b', '#df8e1d', '#1e66f5', '#ea76cb', '#179299', '#bcc0cc']
use-theme-colors=false
visible-name='Catppuccin Latte'

[tweaks]
show-extensions-notice=false

EOF
{{ end }}
