{{- if and (eq .chezmoi.os "linux") (not .is_wsl) -}}
#!/bin/sh

dconf load /org/gnome/ <<EOF

[desktop/input-sources]
current=uint32 0
mru-sources=[('xkb', 'us'), ('xkb', 'ch+fr')]
sources=[('xkb', 'us'), ('xkb', 'ch+fr')]
xkb-options=['compose:ralt']

[desktop/interface]
color-scheme='prefer-dark'
enable-hot-corners=false
font-antialiasing='rgba'
font-hinting='full'
gtk-enable-primary-paste=false
gtk-theme='Catppuccin-Frappe-Standard-Lavender-Dark'
monospace-font-name='Operator Mono Semi-Light Italic 12'
toolkit-accessibility=false

[desktop/peripherals/keyboard]
numlock-state=true

[desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'

[mutter]
edge-tiling=true

[shell/extensions/user-theme]
name='Catppuccin-Frappe-Standard-Lavender-Dark'

[shell/keybindings]
show-screenshot-ui=['<Shift><Super>s']

[GWeather4]
temperature-unit='centigrade'

[shell/weather]
automatic-location=true

[system/location]
enabled=true

[software]
check-timestamp=int64 1710931379
first-run=false
flatpak-purge-timestamp=int64 1710948973
install-timestamp=int64 1710676988
packagekit-historical-updates-timestamp=uint64 1710676988
update-notification-timestamp=int64 1710677060

[terminal/legacy/profiles:]
default='71a9971e-e829-43a9-9b2f-4565c855d664'
list=['71a9971e-e829-43a9-9b2f-4565c855d664']

[terminal/legacy/profiles:/:71a9971e-e829-43a9-9b2f-4565c855d664]
background-color='#303446'
cursor-background-color='#f2d5cf'
cursor-colors-set=true
cursor-foreground-color='#303446'
font='Monospace 13'
foreground-color='#c6d0f5'
highlight-background-color='#303446'
highlight-colors-set=true
highlight-foreground-color='#626880'
palette=['#51576d', '#e78284', '#a6d189', '#e5c890', '#8caaee', '#f4b8e4', '#81c8be', '#b5bfe2', '#626880', '#e78284', '#a6d189', '#e5c890', '#8caaee', '#f4b8e4', '#81c8be', '#a5adce']
use-system-font=false
use-theme-colors=false
visible-name='Catppuccin Frappe'

[tweaks]
show-extensions-notice=false

EOF
{{ end }}
