#!/bin/sh
{{ if findExecutable "op" (list "/usr/bin" "/usr/local/bin") }}
echo '{{ onepasswordDocument "gpg key" }}' | gpg --import 
{{ else }}
echo "WARNING: 1password-cli has not been installed on your system. Your gpg key will not be imported."
{{ end }}
